h1 {
    font-style: sans-serif;
    color: rgb(255, 255, 255);


}


body {
    background: linear-gradient(to right, rgb(211, 148, 12), rgb(222, 231, 222));
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.imperial-script-regular {
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
  }


input.img{
    width: 300px;
    height: 300px;
}
